body {
  background-color: blue;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 110%;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 300px) {
  body {
    background-color: red;
  }
  #small {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 125%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  body {
    background-color: green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2fr, 1fr;
  }
}
