.App {
    background-color: blue;
}

.Header {
    background-color: aliceblue;
    color: black;
}

.Moza {
    background-color: blueviolet;
    color: rgb(102, 255, 0);
}

.Logoprincipale {
    background-color: azure;
    color:red;
    margin-top: 5em;
    margin-bottom: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
}

.Picture {
    background-color: chartreuse;
    color: deeppink;
}

.Login {
    background-color: forestgreen;
    color: black;
}

.Social {
    background-color: hotpink;
    color: blue;
}